In [1]:
#step3
import numpy as np
import pandas as pd

In [2]:
#step 4, importing from git instead of CSV local
df = pd.read_csv('https://raw.githubusercontent.com/Skalvis/DSA_EDA/master/loans_2007.csv')

In [3]:
#step 5
df.head()

,loan_amnt,int_rate,installment,emp_length,annual_inc,loan_status,zip_code,dti,delinq_2yrs,fico_range_high,...,purpose_major_purchase,purpose_medical,purpose_moving,purpose_other,purpose_renewable_energy,purpose_small_business,purpose_vacation,purpose_wedding,term_ 36 months,term_ 60 months
0,5000.0,10.65,162.87,10,24000.0,1,860,27.65,0.0,739.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,2500.0,15.27,59.83,0,30000.0,0,309,1.00,0.0,744.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,2400.0,15.96,84.33,10,12252.0,1,606,8.72,0.0,739.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
3,10000.0,13.49,339.31,10,49200.0,1,917,20.00,0.0,694.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
4,5000.0,7.90,156.46,3,36000.0,1,852,11.20,0.0,734.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0

In [4]:
#step 6 (rows x columns)
df.shape

(39252, 41)

In [5]:
#step 7
%whos

Variable   Type         Data/Info
---------------------------------
df         DataFrame           loan_amnt  int_rat<...>[39252 rows x 41 columns]
np         module       <module 'numpy' from 'C:\<...>ges\\numpy\\__init__.py'>
pd         module       <module 'pandas' from 'C:<...>es\\pandas\\__init__.py'>

In [6]:
#step 8 (max, min)
max(df['loan_amnt']),min(df['loan_amnt'])

(35000.0, 500.0)

In [7]:
#step 9
np.mean(df['loan_amnt'])

11137.18027106899

In [8]:
#step 10
df2 = (df.filter(regex='purpose')) #filter and select columns with "purpose"
r_df=df2.apply(pd.value_counts) #unique values in each column count
r_df.loc[1,] # show second row

purpose_car                    1536
purpose_credit_card            5079
purpose_debt_consolidation    18376
purpose_educational             325
purpose_home_improvement       2951
purpose_house                   372
purpose_major_purchase         2184
purpose_medical                 690
purpose_moving                  582
purpose_other                  3938
purpose_renewable_energy        103
purpose_small_business         1797
purpose_vacation                378
purpose_wedding                 941
Name: 1.0, dtype: int64

In [142]:
#step 11
df3 = df2.join(df["loan_amnt"]) #add amount to purposes
#no idea whatsoever

,purpose_car,purpose_credit_card,purpose_debt_consolidation,purpose_educational,purpose_home_improvement,purpose_house,purpose_major_purchase,purpose_medical,purpose_moving,purpose_other,purpose_renewable_energy,purpose_small_business,purpose_vacation,purpose_wedding,loan_amnt
0.0,37716.0,34173.0,20876.0,38927.0,36301.0,38880.0,37068.0,38562.0,38670.0,35314.0,39149.0,37455.0,38874.0,38311.0,NaN
1.0,1536.0,5079.0,18376.0,325.0,2951.0,372.0,2184.0,690.0,582.0,3938.0,103.0,1797.0,378.0,941.0,NaN
500.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0
700.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
725.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34475.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0
34525.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
34675.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
34800.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0
35000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,640.0